.bg-color-violet{
    background-color: #7044DF;
}
.btn2{
    border-color: white;
    border-radius: 20px;
    width: 200px;
    
    background-color: #7044DF;
}

.bg-color-violet2{
    background-color: #BF4986;
}

.btn3{
    border-color: white;
    border-radius: 20px;
    width: 200px;
    background-color: #BF4986;
}
.btn4{
    border-color: white;
    border-radius: 20px;
    width: 150px;

}